body {
  font-family: sans-serif;
}
.page{
  margin: 10px;
  width: 100%;
}
.main-header{
  background-color: rgba(255, 255, 0, 0.9);
  height: 20%;
}
.container{
  height: 60%;
  display: flex;
  color: white;
}
nav{
  width: 20%;
  background-color: rgba(18, 95, 58, 0.9);
}
.content{
  width: 60%;
  background-color: rgba(7, 106, 139,0.9);
}
.side-bar{
  width: 20%;
  background-color: rgba(224, 15, 15, 0.692);
}
footer{
  height: 20%;
  background-color: rgba(255,255,0,0.9);
}
.page h1 {
  margin: 0;
  padding: 20px;
  font-weight: 400;
}